.registration {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  .form {
    width: 50%;
  }

  .full-width {
    width: 100%;
  }
}
