@import '~app/style/style';

.spinner {
  align-items: center;
  background-color: $black-transparent;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
  z-index: 1;
}
