.app {
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  &.is-mobile {
    .toolbar {
      position: fixed;
      // Make sure the toolbar will stay on top of the content as it scrolls past.
      z-index: 2;
    }
  }
}
