.app {
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  &.is-mobile {
    .sidenav {
      flex: 1 0 auto;
    }

    .toolbar {
      position: fixed;
      z-index: 2;
    }
  }

  .sidenav {
    flex: 1;

    .mat-icon {
      margin-right: 8px;
    }
  }
}
