// Colors
$black: #000;
$black-light: #343434;
$black-transparent: rgba(0, 0, 0, .5);
$blue: #2196f3;
$grey: #d0d0d0;
$grey-dark: #696969;
$grey-focus: #e0e0e0;
$grey-light: #f0f0f0;
$green: #4caf50;
$red: #f44336;
$yellow: #ffeb3b;
$white: #fff;

// Content
$content-padding: 5px;

// Font
$font-main: 'Lato', sans-serif;

// Font size
$fs-xxx-small: 8px;
$fs-xx-small: 10px;
$fs-x-small: 12px;
$fs-small: 14px;
$fs-medium: 16px; // default
$fs-large: 18px;
$fs-x-large: 20px;
$fs-xx-large: 22px;
$fs-xxx-large: 24px;

$fs-icon: 36px;

// Font weight
$fw-normal: 300;
$fw-medium: 400;
$fw-bold: 700;

// Flex
$fl-small: 40;
$fl-medium: 66;
$fl-large: 80;
