<div class="search">
  <form class="form" fxLayout="row" fxLayoutAlign="space-between center">
    <mat-form-field class="input" fxFlex="1 1 auto">
      <input matInput name="title" [(ngModel)]="input" placeholder="Search" type="text">
    </mat-form-field>
  </form>

  <div class="movies">
    <h2 class="subtitle">Search result</h2>
    <div class="scroll-wrap" fxLayout="row wrap" fxLayoutAlign="start start">
      <app-movie-card fxFlex="0 0 12.5%" *ngFor="let movie of movies" (onToggle)="toggle($event)" [movie]="movie"></app-movie-card>
    </div>
  </div>
</div>
