.search {
  padding: 10px;

  .form {
    .input {
      padding: 0 5px;
      width: 100%;
    }

    button {
      margin-left: 5px;
    }
  }

  .form-button {
    text-align: right;
  }

  .subtitle {
    padding: 0 5px;
  }
}
