@import '~app/style/style';

.home {
  .now-playing,
  .popular {
    margin-top: 2em;
  }

  .scroll-wrap {
    overflow-x: auto;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #2196f3;
    }
  }

  .subtitle {
    margin-left: 5px;
  }

  .watchlist {
    margin-top: 1em;
  }
}
